/* main 공통 부분 scss */

/* main container */

.contents {
  background: #fff;
  position: relative; /* 자기 자신 기준 배치 */
  z-index: 1;
  margin-bottom: 200px; /* footer 영역 'z-index: -1'이기 때문에 하단에 contents 영역에 가려서 보이지 않음. 맨 밑 하단에만 보일 수 있도록 하기 위함.*/
  .visual {
    width: 100vw;
    height: 100vh;
    position: relative; /* 자기 자신 기준 배치 */
    .mainBg {
      position: absolute; /* 부모요소 기준 배치 */
      left: 0;
      bottom: 0;
      width: 100vw;
      height: 88vh;
      object-fit: contain;
      /* object-fit: img나 video 등의 콘텐츠 크기 맞추는 방식
      cover: 가로세로 비율 유지하면서 요소 콘텐츠 박스를 가득 채움.
      가로세로비율 맞지 않는 경우 맞지 않는 부분은 잘림 */
      background-color: #000000;
    }
  }
}

/* .inner => section 별 전체 레이아웃 넓이 */
.inner {
  width: 1400px;
  margin: 0 auto;
}
.text {
  .title {
    font: {
      family: "Montserrat", sans-serif;
      size: 20px;
      weight: bold;
    }
    letter-spacing: 1px; /* 자간 간격 */
    text-transform: uppercase; /* 대문자 변환 */
  }
  p {
    font-size: 35px;
    line-height: 1.2; /* 줄 간격 */
    margin: 40px 0;
  }
  a {
    display: inline-block; /* a는 inline요소 */
    padding: 5px 15px;
    border: 1px solid #333;
    border-radius: 20px;
    letter-spacing: 1px; /* 자간 간격 */
    text-transform: uppercase;
    transition: all 0.2s;
    font: {
      family: "Montserrat", sans-serif;
      size: 12px;
      weight: bold;
    }
    &:hover, &:focus {
      border: 1px solid transparent; /* transparent: 투명하게 처리 */
      border-bottom: 1px solid #333; /* 아래 테두리만 남김 */
      border-radius: 0; /* 테두리 끝 둥근 것 없앰 */
      padding: 5px 18px;
      transition: all 0.2s; /* 모든 변화 부드럽게 처리 */
      background: #f2f0eb;
    }
  }
  &.motion {
    .word {
      animation: textAni 0.8s both;
      animation-delay: calc(0.02s * var(--word-index));
    }
    a {
      animation: border 1s both;
    }
  } 
}
@keyframes textAni {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
}
@keyframes border {
  0% {
    border-color: transparent;
  }
  60% {
    border-color: transparent;
  }
}

/* 반응형 웹 */

@media screen and (max-width: 1400px) {
  .inner {
    width: 90%;
  }
}

@media screen and (max-width: 1024px) {
  .contents {
    margin-bottom: 330px;
    .visual .title {
      font-size: 50px;
    }
  }
}

@media screen and (max-width: 500px) {
  .contents {
    margin-bottom: 280px;
    .visual .title {
      font-size: 32px;
    }
  }
  .text p {
    font-size: 22px;
  }
}