section.introduce {
  padding: 100px 0;
  .inner { /* 자식요소(img/text)에 float 줄 경우 부모요소(inner)에 overflow:hidden으로 높이값을 줘야함 */
    overflow: hidden;
  }
  .img {
    width: 48%;
    height: 80vh;
    float: left;
    border-radius: 10px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 25%;
    }
    &.motion {
      animation-name: introduce;
      animation-duration: 0.8s;
    }
  }
  .text {
    width: 45%;
    float: right;
  }
}
@keyframes introduce {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  20% {  /* 0%~20%까지 위치 유지*/
    opacity: 0;
    transform: translateX(-10px);
  }
}

/* 반응형 웹 */

@media screen and (max-width: 768px) {
  section.introduce {
    .inner {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }
    .img {
      width: 100%;
    }
    .text {
      width: 100%;
      margin-bottom: 50px;
    }
  }
}